<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Hello country</h2>
    <h3 class="text-capitalize">Hello city</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-2">Hello country</div>
    <div class="display-3">Hello city</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <a href="#" class="btn btn-primary">
        Test button</a>

    <hr>

    <p class="text-primary">My text</p>
    <p class="text-muted">My text</p>
    <p class="text-success">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-dark">My text</p>
    <p class="text-info">My text</p>

    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">Додати</button>
            <button class="btn btn-outline-secondary">Редагувати</button>
            <button class="btn btn-outline-danger">Видалити</button>
            <button class="btn btn-outline-warning">Коментувати</button>
            <button class="btn btn-outline-dark btn-sm">Списати</button>
        </div>
    </div>

    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            This is my content
        </div>
    </div>

</main>