<main>
    <h1>Chrome
        <i class="bi bi-browser-chrome"></i>
        <i class="fa-brands fa-github fa-shake" style="color: #185516;"></i>
    </h1>
    <button class="btn btn-warning">
        <i class="bi bi-cc-circle-fill"></i>
    </button>
    <br>
    <div>
        <i class="fa-brands fa-github fa-shake" style="color: #185516;"></i>
    </div>

    <div>
        <img src="/svg/github.svg">
    </div>

</main>