<main class="p-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">PC and Laptops</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">MacBook</a>
        </li>
    </ol>
    <div class="row g-4">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="/summary" class="nav-link active">Main</a>
                </div>

                <div class="nav-item">
                    <a href="/work" class="nav-link">Catalog</a>
                </div>
                <br>
                <div class="nav-item">
                    <a href="/bio" class="nav-link">Shop List</a>
                </div>
            </div>
        </div>
        <div class="col-5 pe-5">
            <div class="card">
                <div class="card pt-4 pb-3 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link disabled">Home</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/work" class="nav-link">Page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/bio" class="nav-link">Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC and Laptops</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">MacBook</a>
                        </li>
                    </ol>
                </div>

                <div class="col-12">

                    <button class="btn btn-primary rounded-pill mb-3">
                        Click me!
                    </button>
                    <div class="alert alert-primary">
                        <h6 class="m-0">
                            Hello world<span class="badge text-bg-warning rounded-pill text-uppercase">Топ продаж</span>
                        </h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>