<main>
    <section>
        <div class="py-4">
            <h1>{{pageList}}</h1>
            <p>{{description}}</p>
        </div>
    </section>
    <section>
        <div class="pb-3">
            <div class="row">
                {{#each buttons}}
                <div class="col-3 g-3">
                    <a href="{{link}}" class="btn btn-primary col-12">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</main>