<main>
    <section>
        <div class="py-4">
            <h1>{{pageList}}</h1>
            <p>{{description}}</p>
        </div>
    </section>
    <section>
        <div class="pb-3">
            <ul class="col-2">
                {{#each buttons}}
                <li class="row">
                    <a href="{{link}}" class="btn btn-primary my-2">{{text}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
</main>