<div class="row">
    <div class="col-12">
        <div class="nav">
            <div class="col-3">
                <div class="nav-item">
                    {{#each footer}}
                    <a href="{{0.link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{0.text}}</a>
                    {{/each}}
                </div>
            </div>
            <div class="col-3">
                <div class="nav-item">
                    {{#each footer}}
                    <a href="{{1.link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{1.text}}</a>
                    {{/each}}
                </div>
            </div>
            <div class="col-3">
                <div class="nav-item">
                    {{#each footer}}
                    <a href="{{2.link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{2.text}}</a>
                    {{/each}}
                </div>
            </div>
            <div class="col-3">
                <div class="nav-item">
                    {{#each footer}}
                    <a href="{{3.link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{3.text}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>